<p id="notice"><%= notice %></p>

<p>
  <strong>Parameter:</strong>
  <%= @action_one_parameter.parameter %>
</p>

<%= link_to 'Edit', edit_action_one_parameter_path(@action_one_parameter) %> |
<%= link_to 'Back', action_one_parameters_path %>
