<p id="notice"><%= notice %></p>

		<div id="main">
			<div class="contain">
				
				<dl class="items">
						<%= render @events %>
				</dl>
				<a class="btn" href="javascript:void(0);">加载更多</a>
			</div>
		</div>
		<footer></footer>